body {
  font-family: Arial, sans-serif;
  height: 100%;
  margin: 0;
  padding: 0;
  color: #ffffff;
  --color: rgba(90, 151, 65, 0.3);
  background-color: #191a1a;
  background-image: linear-gradient(0deg, transparent 24%, var(--color) 25%, var(--color) 26%, transparent 27%, transparent 74%, var(--color) 75%, var(--color) 76%, transparent 77%, transparent),
    linear-gradient(90deg, transparent 24%, var(--color) 25%, var(--color) 26%, transparent 27%, transparent 74%, var(--color) 75%, var(--color) 76%, transparent 77%, transparent);
  background-size: 55px 55px;
}

.card:hover {
  cursor: pointer;

}

.first-content {
  height: 100%;
  width: 100%;
  transition: all 0.4s;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 1;
 
}

.card:hover .first-content {
  height: 0px;
  opacity: 0;
}

.second-content {
  height: 0%;
  width: 100%;
  opacity: 0;
  display: flex;
  justify-content: center;
  align-items: center;

  transition: all 0.4s;

  transform: rotate(90deg) scale(-1);
}

.card:hover .second-content {
  opacity: 1;
  height: 100%;
  font-size: 1.8rem;
  transform: rotate(0deg);
}

.second-content {
  height: 0%;
  width: 100%;
  opacity: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.4s;
  transform: rotate(90deg) scale(-1);
}

.card:hover .second-content img {
  width: 50px;
  margin-left: 10px;
  /* Tamaño de los iconos */
  height: auto;
}

.card:hover .second-content img:hover {
  width: 51px;
  /* Tamaño de los iconos */
  height: auto;
}

a{
  color: #ffffff;
  text-decoration: none;
}

a:hover{
  color: #11c945;
  text-decoration: none;
}

